<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      Formularz zawiera błędy.
    </div>
    <ul>
      <% @user.errors.messages.values.each do |msg| %>
        <% if msg[0] != "can't be blank" %>
          <li> <%= msg[0] %> </li>  
        <% end %>       
      <% end %>
    </ul>
  </div>
<% end %>