<% provide(:title, "O nas") %>
<div class="center jumbotron">
    <h1>O nas</h1>
    <h2>
      Dislexia to w pełni darmowa, przyjazna aplikacja dla dzieci cierpiących na dysleksję. 
      Mamy nadzieję, że korzystając z naszej aplikacji choćby w małym stopniu uda Ci się pokonać 
      niektóre problemy spowodowane dysleksją, a także miło spędzić czas rozwiązując zadania, 
      zdobywając punkty i rywalizując z rówieśnikami o tytuły <br />
      <span>Mistrza dnia</span> oraz <span>Mistrza miesiąca</span>.<br />
    </h2>
</div>
