@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-high-light: #393737;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
  background-color: #89DD21;
  font-family: "Calibri";
}

a.btn.btn-lg.btn-primary {
  &:hover {
    background-color: #89DD21;    
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 50px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  line-height: 1.1;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  margin-top: 40px;
  span {
	font-size: 20px;
	color: #F5AE1F;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #89DD21;
    text-decoration: none;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

div#levels, div#categories {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    li.locked a {
      background-color: $gray-high-light;
    }
    li.unlocked a {
      background-color: #2175bc;
    }
    li.unlocked a:hover {
      background-color: #2586d7;
      color: #fff;
    }
    li {
      height: 60px;
      margin-bottom: 15px;
      font-size: 30px;
      width: 100%;
      a {
        padding-top: 9px;
        height: 100%;
        display: inline-block;
        color: #fff;
        text-decoration: none;
        width: 100%;
      }
      span {
        width: 50%;
      }
      span.name {
        float: left;
        text-align: left;
        padding-left: 20px;
      }
      span.points {
        float: right;
        text-align: right;
        padding-right: 20px;
      }
    }
  }
}

.btn-answer {
  width: 120px;
}

div.center.example {
  background-color: $gray-high-light;
  color: white;
  border-radius: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 60px;
}

.ranking {
  display: inline-block;
  width: 32%;
  text-align: left;
  color: black;
  vertical-align: top;
  height: 300px;
}

.ranking ul {
  list-style: none;
}

#task {
  .title {
    color: #de3c3c;
  }
  .content {
    color: #23c830;
  }
}

#rankings {
  .ranking {
    border-radius: 20px 0 20px 0;
    margin-right: 10px;
  }
  .ranking.global {
    background-color: coral;
  }
  .ranking.month {
    background-color: cornflowerblue;
  }
  .ranking.day {
    background-color: #ec61e0;
  }
}

.ranking_title {
  text-align: center;
  width: 100%;
  float: center;
  padding: 26px;
  font-size: 20px;
}

#rankings .ranking li a {
  font-weight: bold;
  color: white;
}

#rankings .ranking li a:hover {
  color: black;
}

.user_info {
  h1 {
    margin-top: 25px;
    margin-left: 110px;
  }
  height: 200px;
  div {
    padding-top: 40px;
    font-size: 17px;
    span {
      color: green;
    }
  }
  h2 {
    font-weight: bold;
    font-size: 20px;
    color: #89DD21;
  }
}

.jumbotron.center.show_user #user_info {
  text-align: left;
  padding-top: 15px;
  color: black;
  min-height: 250px;
  background-color: #50c7ff;
  border-radius: 0 20px 0 20px;
  padding-left: 10px;
  a {
    color: white;
    text-decoration: underline;
    float: right;
    padding-right: 10px;
  }
  a:hover {
    color: black;
  }
  li {
    font-size: large;
    line-height: 39px;
  }
}

ul.navbar-nav li.circle > a {
  color: white;
  font-weight: bold;
}

ul.navbar-nav li.circle {
  border-radius: 100px;
  width: 40px;
  margin-right: 4px;
  text-align: center;
  height: 40px;
  padding-bottom: 25px;
  margin-top: 4px;
}

li.circle.z {
  background-color: #d73737;
}

li.circle.p {
  background-color: #f05b42;
}

li.circle.r {
  background-color: #e3933a;
}

li.circle.o {
  background-color: #e4c53f;
}

li.circle:hover {
  background-color: #222222;
}

li.day_medal {
    background-image: url("day_medal.png");
    width: 140px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 49%;
}

li.month_medal {
    background-image: url("month_medal.png");
    width: 140px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 49%;
}

.jumbotron.center.show_user a {
    text-align: left;
    display: block;
}

.jumbotron.center.show_user #user_info ul{
    list-style: none;
    padding-left: 0;
}

.ranking ul li a {
  padding-left: 10px;
  text-decoration: none;
}

.ranking ul li .points {
  padding-right: 120px;
  float: right;
}